{% extends 'base.html' %}


{% block title %}
    Home
{% endblock title %}
    

{% block body %}
    {% load static %}
    <!-- Carousel Start -->
    <div class="container-fluid p-0">
        <div id="header-carousel" class="carousel slide" data-ride="carousel">
               
            <div class="carousel-inner ">
                    
                <div class="carousel-item active">
                    <img class="w-100" src="{% static 'img/slide-1.jpg' %}" alt="Image">
                    <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                        <div class="p-3" style="max-width: 800px;">
                            <h4 class="text-primary text-uppercase font-weight-normal mb-md-3">Creative K&B Design</h4>
                            <h3 class="display-3 text-white mb-md-4">Make Your Home Better</h3>
                            <a href="ABOUT" class="btn btn-primary py-md-3 px-md-5 mt-2 mt-md-4">Learn More</a>
                        </div>
                    </div>
                </div>
         
                <div class="carousel-item">
                    <img class="w-100" src="{% static 'img/slide-2.jpg' %}" alt="Image">
                    <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                        <div class="p-3" style="max-width: 800px;">
                            <h4 class="text-primary text-uppercase font-weight-normal mb-md-3">Creative K&B Design</h4>
                            <h3 class="display-3 text-white mb-md-4">Freshen Up Your Kitchen</h3>
                            <a href="" class="btn btn-primary py-md-3 px-md-5 mt-2 mt-md-4">Learn More</a>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <img class="w-100" src="{% static 'img/slide-3.jpg' %}" alt="Image">
                    <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                        <div class="p-3" style="max-width: 800px;">
                            <h4 class="text-primary text-uppercase font-weight-normal mb-md-3">Creative K&B Design</h4>
                            <h3 class="display-3 text-white mb-md-4">Invest In Your Kitchen</h3>
                            <a href="" class="btn btn-primary py-md-3 px-md-5 mt-2 mt-md-4">Learn More</a>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <img class="w-100" src="{% static 'img/slide-4.jpg' %}" alt="Image">
                    <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                        <div class="p-3" style="max-width: 800px;">
                            <h4 class="text-primary text-uppercase font-weight-normal mb-md-3">Creative K&B Design</h4>
                            <h3 class="display-3 text-white mb-md-4">Dreams Come True</h3>
                            <a href="" class="btn btn-primary py-md-3 px-md-5 mt-2 mt-md-4">Learn More</a>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <img class="w-100" src="{% static 'img/slide-5.jpg' %}" alt="Image">
                    <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                        <div class="p-3" style="max-width: 800px;">
                            <h4 class="text-primary text-uppercase font-weight-normal mb-md-3">Creative K&B Design</h4>
                            <h3 class="display-3 text-white mb-md-4">Let Your Kitchen&Bathroom Shine</h3>
                            <a href="" class="btn btn-primary py-md-3 px-md-5 mt-2 mt-md-4">Learn More</a>
                        </div>
                    </div>
                </div>

            </div>
            <a class="carousel-control-prev" href="#header-carousel" data-slide="prev">
                <div class="btn btn-primary" style="width: 45px; height: 45px;">
                    <span class="carousel-control-prev-icon mb-n2"></span>
                </div>
            </a>
            <a class="carousel-control-next" href="#header-carousel" data-slide="next">
                <div class="btn btn-primary" style="width: 45px; height: 45px;">
                    <span class="carousel-control-next-icon mb-n2"></span>
                </div>
            </a>
        </div>
    </div>
    <!-- Carousel End -->


    <!-- About Start -->
    <div class="container-fluid bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="d-flex flex-column align-items-center justify-content-center bg-primary h-100 py-5 px-3">
                        <i class="flaticon-brickwall display-1 font-weight-normal text-secondary mb-3"></i>
                        <h4 class="display-3 mb-3">10+</h4>
                        <h1 class="m-0">Years Experience</h1>
                    </div>
                </div>
                <div class="col-lg-7 m-0 my-lg-5 pt-5 pb-5 pb-lg-2 pl-lg-5">
                    <h6 class="text-primary font-weight-normal text-uppercase mb-3">Learn About Us</h6>
                    <h1 class="mb-4 section-title">We Are Aiming To Bring The Quality To Your Home For Less</h1>
                    <p>Rapid Design is a leading company in kitchen and bathroom renovations. Using 3D rendering technology, we help our customers turn their dream kitchens and bathrooms into reality.</p>
                    <p>At Rapid Design, we put our customers' needs first. That's why we take a personalized approach to every project. To meet our customers' expectations, we stay up-to-date on the latest trends and technologies.</p>
                    <div class="row py-2">
                        <div class="col-sm-6">
                            <div class="d-flex align-items-center mb-4">
                                <h1 class="flaticon-house font-weight-normal text-primary m-0 mr-3"></h1>
                                <h5 class="text-truncate m-0">3D rendering</h5>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="d-flex align-items-center mb-4">
                                <h1 class="flaticon-stairs font-weight-normal text-primary m-0 mr-3"></h1>
                                <h5 class="text-truncate m-0">Full renovation</h5>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="d-flex align-items-center mb-4">
                                <h1 class="flaticon-office font-weight-normal text-primary m-0 mr-3"></h1>
                                <h5 class="text-truncate m-0">Cost estimation</h5>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="d-flex align-items-center mb-4">
                                <h1 class="flaticon-living-room font-weight-normal text-primary m-0 mr-3"></h1>
                                <h5 class="text-truncate m-0">Installation</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->


    <!-- Services Start -->
    <div class="container-fluid pt-5">
        <div class="container py-5">
            <div class="row">
                <div class="col-lg-6 pr-lg-5">
                    <h6 class="text-primary font-weight-normal text-uppercase mb-3">Our Awesome Services</h6>
                    <h1 class="mb-4 section-title">Awesome K&B Designing Services For Your Home</h1>
                    <p>3D Design and Rendering</p>
                    <p>Kitchen and Bath Remodeling</p>
                    <p>Flooring</p>
                    <p>Painting</p>

                    <a href="{% url 'service' %}" class="btn btn-primary mt-3 py-2 px-4">View More</a>
                </div>
                
                <div class="col-lg-6 p-0 pt-5 pt-lg-0">
                    <div class="owl-carousel service-carousel position-relative">
                        <div class="d-flex flex-column text-center bg-light mx-3 p-4">
                            <h3 class="flaticon-bedroom display-3 font-weight-normal text-primary mb-3"></h3>
                            <h5 class="mb-3">Basement Finishing</h5>
                            <p class="m-0">Our team of experienced professionals will work with you to create the basement of your dreams.</p>
                        </div>
                        <div class="d-flex flex-column text-center bg-light mx-3 p-4">
                            <h3 class="flaticon-kitchen display-3 font-weight-normal text-primary mb-3"></h3>
                            <h5 class="mb-3">Kitchen Remodeling</h5>
                            <p class="m-0">We can change your entire kitchen with our amazing remodeling team. You ask, we make.</p>
                        </div>
                        <div class="d-flex flex-column text-center bg-light mx-3 p-4">
                            <h3 class="flaticon-bathroom display-3 font-weight-normal text-primary mb-3"></h3>
                            <h5 class="mb-3">Bathroom Design</h5>
                            <p class="m-0">Is it time to remodel your bathroom? Tell us about your project.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Services End -->

    <!-- Projects Start -->
    <div class="container-fluid pb-5">
        <div class="container py-5">
          <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8 col text-center mb-4">
              <h6 class="text-primary font-weight-normal text-uppercase mb-3">
                Our Projects
              </h6>
              <h1 class="mb-4">Some Of Our Awesome Renovation Projects</h1>
            </div>
          </div>
          <div class="row mx-1 portfolio-container">
            <div class="col-lg-4 col-md-6 col-sm-12 p-0 portfolio-item">
              <div class="position-relative overflow-hidden">
                <div
                  class="portfolio-img d-flex align-items-center justify-content-center"
                >
                  <img
                    class="img-fluid"
                    src="{% static 'img/slide-1.jpg' %}"
                    alt=""
                  />
                </div>
                <div
                  class="portfolio-text bg-secondary d-flex flex-column align-items-center justify-content-center"
                >
                  <h4 class="text-white mb-4">Project Name</h4>
                  <div class="d-flex align-items-center justify-content-center">
                    <a class="btn btn-outline-primary m-1" href="">
                      <i class="fa fa-link"></i>
                    </a>
                    <a
                      class="btn btn-outline-primary m-1"
                      href="{% static 'img/slide-1.jpg' %}"
                      data-lightbox="portfolio"
                    >
                      <i class="fa fa-eye"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 p-0 portfolio-item">
              <div class="position-relative overflow-hidden">
                <div
                  class="portfolio-img d-flex align-items-center justify-content-center"
                >
                  <img
                    class="img-fluid"
                    src="{% static 'img/slide-2.jpg' %}"
                    alt=""
                  />
                </div>
                <div
                  class="portfolio-text bg-secondary d-flex flex-column align-items-center justify-content-center"
                >
                  <h4 class="text-white mb-4">Project Name</h4>
                  <div class="d-flex align-items-center justify-content-center">
                    <a class="btn btn-outline-primary m-1" href="">
                      <i class="fa fa-link"></i>
                    </a>
                    <a
                      class="btn btn-outline-primary m-1"
                      href="{% static 'img/slide-2.jpg' %}"
                      data-lightbox="portfolio"
                    >
                      <i class="fa fa-eye"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 p-0 portfolio-item">
              <div class="position-relative overflow-hidden">
                <div
                  class="portfolio-img d-flex align-items-center justify-content-center"
                >
                  <img
                    class="img-fluid"
                    src="{% static 'img/slide-3.jpg' %}"
                    alt=""
                  />
                </div>
                <div
                  class="portfolio-text bg-secondary d-flex flex-column align-items-center justify-content-center"
                >
                  <h4 class="text-white mb-4">Project Name</h4>
                  <div class="d-flex align-items-center justify-content-center">
                    <a class="btn btn-outline-primary m-1" href="">
                      <i class="fa fa-link"></i>
                    </a>
                    <a
                      class="btn btn-outline-primary m-1"
                      href="{% static 'img/slide-3.jpg' %}"
                      data-lightbox="portfolio"
                    >
                      <i class="fa fa-eye"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 p-0 portfolio-item">
              <div class="position-relative overflow-hidden">
                <div
                  class="portfolio-img d-flex align-items-center justify-content-center"
                >
                  <img
                    class="img-fluid"
                    src="{% static 'img/slide-4.jpg' %}"
                    alt=""
                  />
                </div>
                <div
                  class="portfolio-text bg-secondary d-flex flex-column align-items-center justify-content-center"
                >
                  <h4 class="text-white mb-4">Project Name</h4>
                  <div class="d-flex align-items-center justify-content-center">
                    <a class="btn btn-outline-primary m-1" href="">
                      <i class="fa fa-link"></i>
                    </a>
                    <a
                      class="btn btn-outline-primary m-1"
                      href="{% static 'img/slide-4.jpg' %}"
                      data-lightbox="portfolio"
                    >
                      <i class="fa fa-eye"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 p-0 portfolio-item">
              <div class="position-relative overflow-hidden">
                <div
                  class="portfolio-img d-flex align-items-center justify-content-center"
                >
                  <img
                    class="img-fluid"
                    src="{% static 'img/slide-5.jpg' %}"
                    alt=""
                  />
                </div>
                <div
                  class="portfolio-text bg-secondary d-flex flex-column align-items-center justify-content-center"
                >
                  <h4 class="text-white mb-4">Project Name</h4>
                  <div class="d-flex align-items-center justify-content-center">
                    <a class="btn btn-outline-primary m-1" href="">
                      <i class="fa fa-link"></i>
                    </a>
                    <a
                      class="btn btn-outline-primary m-1"
                      href="{% static 'img/slide-5.jpg' %}"
                      data-lightbox="portfolio"
                    >
                      <i class="fa fa-eye"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 p-0 portfolio-item">
              <div class="position-relative overflow-hidden">
                <div
                  class="portfolio-img d-flex align-items-center justify-content-center"
                >
                  <img
                    class="img-fluid"
                    src="{% static 'img/slide-6.jpg' %}"
                    alt=""
                  />
                </div>
                <div
                  class="portfolio-text bg-secondary d-flex flex-column align-items-center justify-content-center"
                >
                  <h4 class="text-white mb-4">Project Name</h4>
                  <div class="d-flex align-items-center justify-content-center">
                    <a class="btn btn-outline-primary m-1" href="">
                      <i class="fa fa-link"></i>
                    </a>
                    <a
                      class="btn btn-outline-primary m-1"
                      href="{% static 'img/slide-6.jpg' %}"
                      data-lightbox="portfolio"
                    >
                      <i class="fa fa-eye"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <!-- Projects End -->

{% endblock body %}