{% extends 'base.html' %}


{% block title %}
    Service
{% endblock title %}
    

{% block body %}
{% load static %}
<!-- Page Header Start -->
<div class="container-fluid bg-secondary py-5">
  <div class="container py-5">
    <div class="row align-items-center py-4">
      <div class="col-md-6 text-center text-md-left">
        <h1 class="mb-4 mb-md-0 text-primary text-uppercase">Our Services</h1>
      </div>
      <div class="col-md-6 text-center text-md-right">
        <div class="d-inline-flex align-items-center">
          <a class="btn btn-outline-primary" href="">Home</a>
          <i class="fas fa-angle-double-right text-primary mx-2"></i>
          <a class="btn btn-outline-primary disabled" href="">Our Services</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page Header Start -->

<!-- Services Start -->
<div class="container-fluid py-5">
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-6 pr-lg-5">
        <h6 class="text-primary font-weight-normal text-uppercase mb-3">
          Our Awesome Services
        </h6>
        <h1 class="mb-4 section-title">
          Awesome K&B Designing Services For Your Home
        </h1>
        <p>3D Design and Rendering</p>
        <p>Kitchen and Bath Remodeling</p>
        <p>Flooring</p>
        <p>Painting</p>
      </div>

      <div class="col-lg-6 p-0 pt-5 pt-lg-0">
        <div class="owl-carousel service-carousel position-relative">
          <div class="d-flex flex-column text-center bg-light mx-3 p-4">
            <h3
              class="flaticon-bedroom display-3 font-weight-normal text-primary mb-3"
            ></h3>
            <h5 class="mb-3">Basement Finishing</h5>
            <p class="m-0">
              Our team of experienced professionals will work with you to create
              the basement of your dreams.
            </p>
          </div>
          <div class="d-flex flex-column text-center bg-light mx-3 p-4">
            <h3
              class="flaticon-kitchen display-3 font-weight-normal text-primary mb-3"
            ></h3>
            <h5 class="mb-3">Kitchen Remodeling</h5>
            <p class="m-0">
              We can change your entire kitchen with our amazing remodeling
              team. You ask, we make.
            </p>
          </div>
          <div class="d-flex flex-column text-center bg-light mx-3 p-4">
            <h3
              class="flaticon-bathroom display-3 font-weight-normal text-primary mb-3"
            ></h3>
            <h5 class="mb-3">Bathroom Design</h5>
            <p class="m-0">
              Is it time to remodel your bathroom? Tell us about your project.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Services End -->

{% endblock body %}
